// fonts
$montserrat: 'Montserrat', sans-serif;

// colors
$white: #ffffff;
$white2: #eff0f2;
$white3: #ffffffb2;
$black: #000000;
$black2: #13141a;
$black3: #19191b;
$black4: #373742;
$gray: #454b5a;
$gray2: #505768;
$gray3: #9a9aa2;
$gray4: #7d8594;
$orange: #ff7900;
$orange2: #ff973a;
$orange3: #462201;
$blue: #c1c9d4;

// base
$body-bg: $black2;
$body-color: $white2;
$font-family-base: $montserrat;
$font-size-base: 1.6rem;
$line-height-base: 140%;
$links-color-base: inherit;
$headings-font-weight: 700;
$transition: .2s ease;